# Elgg htaccess directives
# Copyright Curverider Ltd 2008-2009
# License http://www.gnu.org/licenses/old-licenses/gpl-2.0.html GNU Public License version 2
# Link http://elgg.org/

<IfModule !mod_rewrite.c>
    ErrorDocument 500 "Apache does not have mod_rewrite loaded. Please check your Apache setup."
    RedirectMatch 302 .* index.php
</IfModule>

<Files "htaccess_dist">
    order allow,deny
    deny from all
</Files>

Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 2 years" 
    ExpiresByType image/jpeg "access plus 2 years" 
    ExpiresByType image/png "access plus 2 years" 
    ExpiresByType image/x-icon "access plus 2 years"
</IfModule>

<IfModule mod_php5.c>
	php_value memory_limit 64M
	php_value register_globals 0
	php_value post_max_size 10M
	php_value upload_max_filesize 10M
    php_value display_errors 7
</IfModule>

## Important note: mod_headers is required for correct functioning across proxies.
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.[0678] no-gzip
	BrowserMatch \bMSIE !no-gzip

<IfModule mod_headers.c>	
	Header append Vary User-Agent env=!dont-vary
</IfModule>	
	
</IfModule>

<FilesMatch "\.(jpg|jpeg|gif|png|mp3|flv|mov|avi|3pg|html|htm|swf)$">
	FileETag MTime Size
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteRule ^(\w+\.php|_media|_graphics|_css|(mod\/(\w+)\/_graphics\/)) - [L]
    RewriteRule .* index.php/$0 [L]
</IfModule>

#LimitRequestBody 10000